DATABASE_URL="postgresql://businessplan:businessplan_password@localhost:5432/businessplan"
NEXT_PUBLIC_APP_NAME="VNH Business Plan Tool"

DEFAULT_ADMIN_EMAIL="admin@vnh.local"
DEFAULT_ADMIN_NAME="Business Plan Admin"
